@model DGTMVC4.Models.AdminResultsViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
</head>
<body>
    <div>
        Results
    </div>
    <div>
        @using (Html.BeginForm())
        {
            @Html.Label("Klistra in resultat från PDGA eller annan källa")<br />
            @Html.TextAreaFor(model => model.Indata, new { rows = "20", cols = "80" })<br />
            <input type="submit" name="tolkaInput" value="Tolka" /><br /><br />
            if (Model.Utdata != null)
            {
                @Html.Label(Model.Utdata)
            }
            <br />
            if (Model.AdminResults != null)
            {
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Namn</th>
                        <th>PDGA#</th>
                        <th>R1</th>
                        <th>R2</th>
                        <th>Totalt</th>
                    </tr>
                    @foreach (var result in Model.AdminResults)
                    {
                        <tr>
                            <td>@result.Place</td>
                            <td>@result.Name</td>
                            <td>@result.PDGA</td>
                            <td>@result.R1</td>
                            <td>@result.R2</td>
                            <td>@result.Total</td>
                        </tr>
                    }
                </table>
            }
        }
    </div>

</body>
</html>
