@model DGTMVC4.Models.RegistrationViewModel

<div class="row">
    <div class="col-md-6">
        <h3>Anmälan</h3>
        <p>
            Anmälan till samtliga deltävlingar 2015 förutom till den första deltävlingen
            öppnar klockan 20 en månad innan tävlingsdatumet.
        </p>
        <p>
            I mån av plats går det bra att anmäla sig på plats. Betalning görs då kontant.
            För att säkra en plats anmäler du dig på denna sida.
        </p>
        <h3>Avanmälan</h3>
        <p>
            Avanmälningar görs via mejl, discgolftouren (a) gmail.com,
            senast 2 dagar (kl 23.00) innan tävling för att få tillbaka anmälningsavgiften.
            Uppge då hur du vill ha pengarna tillbaka(swish eller banköverföring).
        </p>
    </div>
    <div class="col-md-6">
        <h3>Steg 1 - kontrollera rating</h3>
        <p>
            Ange pdga nummer och kontrollera om du har tillräcklig rating för att kunna anmäla dig.
        </p>
        <h3>Steg 2 - anmälan</h3>
        <p>
            Kontrollera att rätt namn visas och anmäl dig.
            Efter anmälan står ditt namn i listan för pågående registreringar
        </p>
        <h3>Steg 3 - betalning</h3>
        <p>
            Betala anmälningsavgiften på 200 kr på något av följande sätt
            <ul>
                <li>Nordea konto 3160-4537167</li>
                <li>Swish till 0736153777 (Daniel Skymberg)</li>
            </ul>
        </p>
        <h3>Steg 4 - betalning mottagen</h3>
        <p>
            När din betalning är mottagen och registrerad kommer ditt namn upp på listan över registrerade spelare.
            <br />
            <strong>OBS!</strong> Om det inte finns någon plats att tilldela hamnar du i väntelistan
        </p>
    </div>
</div>
<div class="jumbotron">
    @using (Html.BeginForm())
    {
        if (Model.SpelareRegistrerad)
        {
            @Html.Hidden("SpelareRegistrerad")
            <p>
                @string.Format("Spelare: {0} {1} #{2} är registrerad till Ultuna", Model.Fornamn, Model.Efternamn, Model.PDGANummer)
            </p>
        }
        else
        {
            if (!Model.SpelareOk && !Model.SpelareAnmald)
            {
                <p>
                    @if (Model.Meddelande != null)
                    {
                        @Html.Label(Model.Meddelande);
                        <br />
                        <br />

                    }
                    @Html.Label("Ange ditt PDGA nummer")<br />
                    @Html.TextBox("PDGANummer")
                    <input type="submit" name="kontrolleraPDGA" value="Kontrollera PDGA nummer" />
                </p>
            }
            else if (Model.SpelareOk && !Model.SpelareAnmald)
            {
                <p>
                    @Html.Hidden("SpelareOk")
                    @Html.Hidden("PDGANummer")
                    @Html.Hidden("Fornamn")
                    @Html.Hidden("Efternamn")

                    @string.Format("Spelare: {0} {1} #{2} ", Model.Fornamn, Model.Efternamn, Model.PDGANummer)
                    <br />
                    <br />
                    Vill du anmäla dig till DGT 1 Ultuna ?&nbsp;&nbsp;
                    <input type="submit" name="RegistreraAnmalan" value="Registrera anmälan" />
                </p>
            }
            else if (Model.SpelareOk && Model.SpelareAnmald)
            {
                <p>
                    @Html.Hidden("SpelareOk")
                    @Html.Hidden("SpelareAnmald")
                    @Html.Hidden("PDGANummer")
                    @Html.Hidden("Fornamn")
                    @Html.Hidden("Efternamn")

                    @string.Format("Spelare: {0} {1} #{2} är anmäld", Model.Fornamn, Model.Efternamn, Model.PDGANummer)
                </p>
            }
        }
    }
</div>
