@model DGTMVC4.Models.RegistrationViewModel

<div class="row">
    <div class="col-md-6">
        <h3>Anmälan</h3>
        <p>
            Anmälan till samtliga deltävlingar öppnas vid ett och samma datum.
        </p>
        <p>
            I mån av plats går det bra att anmäla sig på plats. Betalning görs då via Swish.
            För att säkra en plats anmäler du dig på denna sida.
        </p>
        <h3>Avanmälan</h3>
        <p>
            Avanmälningar görs via mejl, discgolftouren (a) gmail.com,
            senast 2 dagar (kl 23.00) innan tävling för att få tillbaka anmälningsavgiften.
            Uppge då hur du vill ha pengarna tillbaka(swish eller banköverföring).
        </p>
        <h3>Steg 1 - kontrollera rating</h3>
        <p>
            Ange pdga nummer och kontrollera om du har tillräcklig rating för att kunna anmäla dig.
        </p>
        <h3>Steg 2 - anmälan</h3>
        <p>
            Kontrollera att rätt namn visas och anmäl dig.
            Efter anmälan står ditt namn i listan för pågående registreringar
        </p>
    </div>
    <div class="col-md-6">
        <h3>Steg 3 - betalning</h3>
        <p>
            Betala anmälningsavgiften på 200 kr på något av följande sätt
            <ul>
                <li>Nordea konto 3160-4537167 (Betalningsmottagare: Daniel Skymberg)</li>
                <li>Swish till +46735158924 (Daniel Skymberg)</li>
                <li>Payment from outside of Sweden<br />BIC/Swift: NDEASESS<br />Iban: SE3430000000031604537167</li>
                <li>Betalning på plats endast via Swish</li>
            </ul>
            <br />
            Ange Vilken DGT tävling t.ex. Ultuna, PDGA-nummer och namn vid betalning
        </p>
        <h3>Steg 4 - betalning mottagen</h3>
        <p>
            När din betalning är mottagen och registrerad kommer ditt namn upp på listan över registrerade spelare.
            <br />
            <strong>OBS!</strong> Om det inte finns någon plats att tilldela hamnar du i väntelistan
        </p>
    </div>
</div>
<div class="jumbotron">
    @using (Html.BeginForm())
    {


        if (!Model.SpelareOk)
        {

            <p>
                @if (Model.Meddelande != null)
                {
                    @Html.Label(Model.Meddelande);
                    <br />
                    <br />

                }
                @Html.Label("Ange ditt PDGA nummer")<br />
                @Html.TextBox("PDGANummer")
                <input type="submit" name="kontrolleraPDGA" value="Kontrollera PDGA nummer" />
            </p>
        }
        else
        {
            @Html.Label(string.Format("Spelare: {0} {1} #{2}", Model.Fornamn, Model.Efternamn, Model.PDGANummer))
            <br />
            <br />
            <table class="table table-striped">

                @Html.HiddenFor(m => m.SpelareOk)
                @Html.HiddenFor(m => m.SpelareId)
                @Html.HiddenFor(m => m.Fornamn)
                @Html.HiddenFor(m => m.Efternamn)
                @Html.HiddenFor(m => m.PDGANummer)
                <thead>
                    <tr>
                        <th>
                            Datum
                        </th>
                        <th>
                            Tävling
                        </th>
                        <th>
                            Greenfee
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>

                @for (int i = 0; i < Model.Competitions.Count(); i++)
                {
                    @Html.HiddenFor(m => m.Competitions[i].CompetitionId)
                    @Html.HiddenFor(m => m.Competitions[i].CompetitionDate)
                    @Html.HiddenFor(m => m.Competitions[i].CompetitionName)
                    @Html.HiddenFor(m => m.Competitions[i].Greenfee)
                    @Html.HiddenFor(m => m.Competitions[i].PlayerStatus)
                    <tr>
                        <td>
                            @Html.Label(DGTMVC4.Helpers.FormatHelper.GetDayMonth(Model.Competitions[i].CompetitionDate))

                        </td>
                        <td>
                            @Html.Label(string.Format("DGT {0} {1}", i + 1, Model.Competitions[i].CompetitionName))
                        </td>
                        <td>
                            @if(Model.Competitions[i].Greenfee != 0)
                            {
                                @Html.Label(Model.Competitions[i].Greenfee.ToString())
                            }
                        </td>
                        <td>
                            @if (Model.Competitions[i].CompetitionDate < DateTime.Now)
                            {
                                @Html.Label("Anmälan är stängd");
                            }
                            else if (Model.Competitions[i].PlayerStatus == DGTMVC4.NHibernate.Enums.PlayerCompetitionStatus.Payed) // har plats
                            {
                                @Html.Label("Har plats")
                            }
                            else if (Model.Competitions[i].PlayerStatus == DGTMVC4.NHibernate.Enums.PlayerCompetitionStatus.Waiting) // väntelista
                            {
                                @Html.Label("Väntelistan")
                            }
                            else if (Model.Competitions[i].PlayerStatus == DGTMVC4.NHibernate.Enums.PlayerCompetitionStatus.Registered) // Betalning saknas
                            {
                                @Html.Label("Anmäld, betalning saknas")
                            }
                            else if (((Model.Competitions[i].RegistrationOpens.Year != DateTime.Now.Year && Model.Competitions[i].CompetitionDate.AddDays(-60) < DateTime.Now) ||
                                      (Model.Competitions[i].RegistrationOpens <= new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 1))) &&
                                      Model.Competitions[i].PlayerStatus == null)
                            {
                                <input type="submit" name="RegistreraAnmalan" value="Registrera anmälan för DGT @((i + 1).ToString()) " />
                            }
                            else if (Model.Competitions[i].RegistrationOpens >= DateTime.Now)
                            {
                                @Html.Label(string.Format("Anmälan öppnas {0}", DGTMVC4.Helpers.FormatHelper.GetDayMonth(Model.Competitions[i].RegistrationOpens)));
                            }
                        </td>
                    </tr>
                }

            </table>
        }
    }
</div>
