@model DGTMVC4.Models.StandingsViewModel


<div>
    <table class="table table-bordered">
        <tr>
            <th colspan="4">Spelare</th>
            <th colspan="2">Ulltuna</th>
            <th colspan="2">Visättra</th>
            <th colspan="2">Eskilstuna</th>
            <th colspan="2">Lillsjön</th>
            <th colspan="2">Åkersberga</th>
        </tr>
        <tr>
            <th>#</th>
            <th>Namn</th>
            <th>PDGA#</th>
            <th>Poäng</th>
            <th>#</th>
            <th>P</th>
            <th>#</th>
            <th>P</th>
            <th>#</th>
            <th>P</th>
            <th>#</th>
            <th>P</th>
            <th>#</th>
            <th>P</th>
        </tr>
        @foreach (var player in Model.Standings.OrderBy(s => s.Placering))
        {
            <tr>
                <td>@player.Placering</td>
                <td>@player.Namn</td>
                <td>@player.PDGA</td>
                <td>@player.TotalPoangText</td>
                <td>@player.DGT1PlaceringText</td>
                <td>@player.DGT1PoangText</td>
                <td>@player.DGT2PlaceringText</td>
                <td>@player.DGT2PoangText</td>
                <td>@player.DGT3PlaceringText</td>
                <td>@player.DGT3PoangText</td>
                <td>@player.DGT4PlaceringText</td>
                <td>@player.DGT4PoangText</td>
                <td>@player.DGT5PlaceringText</td>
                <td>@player.DGT5PoangText</td>
            </tr>
        }
    </table>
</div>