@model DGTMVC4.Models.CompetitionsViewModel

<div>
    @if (Model.ShowCompetition)
    {
        <h2>@Model.Competition.Name</h2>
        <div class="row">
            <div class="col-md-6">
                Datum: @Model.Competition.Date.ToString("yyyy-MM-dd")
                <br />
                <a href="@Model.Competition.PGDAWebPage" target="_blank">PDGA sidan</a>
                <br />
                @Html.Raw(Model.Competition.Description)
            </div>
            <div class="col-md-6">
                @if (Model.Competition.Players.Any())
                {
                    <h3>Spelare (@Model.Competition.Players.Count().ToString())</h3>
                    <table class="table table-responsive">
                        <tr>
                            <th>pdga#</th>
                            <th>Namn</th>
                            <th>Rating</th>
                        </tr>
                        @foreach (var player in Model.Competition.Players.OrderByDescending(p => p.PaddedRating))
                        {
                            <tr>
                                <td>@player.PDGA</td>
                                <td>@player.Namn</td>
                                <td>@player.Rating</td>
                            </tr>
                        }
                    </table>
                }
                @if (Model.Competition.RegisteredPlayers.Any())
                {                <h3>Registrerade (@Model.Competition.RegisteredPlayers.Count().ToString())</h3>

                    <table class="table table-responsive">
                        <tr>
                            <th>pdga#</th>
                            <th>Namn</th>
                            <th>Rating</th>
                        </tr>
                        @foreach (var player in Model.Competition.RegisteredPlayers.OrderByDescending(p => p.PaddedRating))
                        {
                            <tr>
                                <td>@player.PDGA</td>
                                <td>@player.Namn</td>
                                <td>@player.Rating</td>
                            </tr>
                        }
                    </table>
                }
                @if (Model.Competition.WaitingPlayers.Any())
                {
                    <h3>Väntelista (@Model.Competition.WaitingPlayers.Count().ToString())</h3>
                    <table class="table table-responsive">
                        <tr>
                            <th>pdga#</th>
                            <th>Namn</th>
                            <th>Rating</th>
                        </tr>
                        @foreach (var player in Model.Competition.WaitingPlayers.OrderByDescending(p => p.PaddedRating))
                        {
                            <tr>
                                <td>@player.PDGA</td>
                                <td>@player.Namn</td>
                                <td>@player.Rating</td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    }
    else
    {
        <h3>Tävlingar</h3>
        <div class="list-group">
            @foreach (var comp in Model.Competitions.Where(c => c.Date.Year == DateTime.Now.Year))
            {
                 <a class="list-group-item" href="/Tournaments/Tournament/@comp.Id">@string.Format("{0} {1}", DGTMVC4.Helpers.FormatHelper.GetDayMonth(comp.Date), comp.Name)</a>
            }
        </div>
    }
</div>
